/* grid布局 */
* {
    margin : 0;
    padding: 0;
}

.wrapper {
    background-color     : teal;
    display              : grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas  :
        'a b c ';


}


.content {
    grid-area       : b;
    background-color: tomato;
    height          : 600px;
}

.left {
    grid-area       : a;
    height          : 500px;
    background-color: violet;
}

.right {
    grid-area       : c;
    height          : 800px;
    background-color: yellow;
}