<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LC社区</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">

</head>

<body>
    <div class="nav">
        <div class="container navmain">


            <div class="row">
                <div class="  col-xs-2">1</div>
                <div class=" col-lg-pull-1      hidden-xs col-xs-4">2</div>
                <div class=" col-lg-pull-1     hidden-md hidden-sm hidden-xs col-xs-2 ">3</div>
                <div class=" col-lg-offset-2    col-sm-offset-4     hidden-xs col-xs-2">4</div>
                <div class=" hidden-md hidden-lg hidden-sm col-xs-1 col-xs-offset-9">5</div>




            </div>


        </div>

    </div>

    <div class="container shi">
        <div class="text">免费视频:</div>
        <div class="row">
            <div class=" shipin  col-md-3 col-xs-6">
                <div class="tupian"><img src="./img/1.jpg" alt="">
                    <p>109. 让验证规则可以复用 —— illuminatech/validation-composite</p>
                </div>
            </div>

            <div class=" shipin  col-md-3 col-xs-6">
                <div class="tupian"><img src="./img/1.jpg" alt="">
                    <p>109. 让验证规则可以复用 —— illuminatech/validation-composite</p>
                </div>
            </div>

            <div class=" shipin  col-md-3 col-xs-6">
                <div class="tupian"><img src="./img/1.jpg" alt="">
                    <p>109. 让验证规则可以复用 —— illuminatech/validation-composite</p>
                </div>
            </div>

            <div class=" shipin  col-md-3 col-xs-6">
                <div class="tupian"><img src="./img/1.jpg" alt="">
                    <p>109. 让验证规则可以复用 —— illuminatech/validation-composite</p>
                </div>
            </div>




        </div>



    </div>


    <div class="container tanlun">
        <div class="row">
            <div class="  col-sm-9 col-xs-12"></div>
            <div class=" col-sm-3 col-xs-12"></div>
        </div>

    </div>

    <div class="container doc">
        <div class="row">
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 docu">
                <div></div>
            </div>


        </div>

    </div>
    <div class="botton">
        <div class="container">
            <div class="row dibu">
                <!-- 栅格系统的最大格数为12列 -->
                <!-- col-xs-  在屏幕宽度小于768px所占的格数 -->
                <!-- col-sm-  在屏幕宽度>=768px所占的格数 -->
                <!-- col-md-  在屏幕宽度>=992px所占的格数 -->
                <!-- col-lg-  在屏幕宽度>=1200px所占的格数 -->
                <div class=" col-sm-3 col-xs-12">
                    <div></div>
                </div>
                <div class=" col-sm-3 col-xs-12">
                    <div></div>
                </div>
                <div class=" col-sm-3 col-xs-12">
                    <div></div>
                </div>
                <div class=" col-sm-3 col-xs-12">
                    <div></div>
                </div>
            </div>

        </div>

    </div>


    <script src="../../插件和库/jquery/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>